$light-primary-color: #fff;
$light-secondary-color: #ddd;
$light-text: #000;
$dark-primary-color: #101010;
$dark-secondary-color: #000;
$dark-text: #fff;
$accent-color: #32a852;

@mixin theme($light-theme: true) {
    @if $light-theme {
        background-color: $light-primary-color;
        color: $light-text;
    } @else {
        background-color: $dark-primary-color;
        color: $dark-text;
    }
}

@mixin theme2($light-theme: true) {
    @if $light-theme {
        background-color: $light-secondary-color;
    } @else {
        background-color: $dark-secondary-color;
    }
}

%text-shared {
    font-family: Cambria, 'Times New Roman', serif;
    font-size: 1.1em;
}

%button-shared {
    width: auto;
    height: auto;
    border-style: none;
    color: $dark-text;
    font-weight: bold;
    padding: 13px;
    cursor: pointer;
}

/* Main CSS-code */
* {
    margin: 0;
    padding: 0;
}

body {
    @include theme2 ($light-theme: true);
    overflow-x: hidden;
}

.main {
    @include theme ($light-theme: true);
    margin: auto;
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    padding: 20px 60px
}

h1 {
    @extend %text-shared;
    text-align: center;
    font-size: 2.3em;
    padding-top: 20px
}

h2 {
    @extend %text-shared;
    font-size: 1.7em;
    margin-top: 50px;
    margin-bottom: 20px;
}

h3 {
    @extend %text-shared;
    margin-bottom: 5px;
}

p {
    @extend %text-shared;
    max-width: 600px;
    margin-top: 15px;
}

a {
    @extend %text-shared;
    color: $accent-color;
    transition: 0.2s;
}

table {
    @extend %text-shared;
}

td {
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

th {
    text-align: left;
}

form {
    @extend %text-shared;
    font-size: 1em;
    display: flex;
}

.row {
    margin-right: 30px;
}

.input {
    margin-bottom: 20px;
}

input {
    height: 30px;
    width: 300px;
    padding: 5px;
}

#submit {
    @extend %button-shared;
    background-color: $accent-color;
}

#submit:hover {
    background-color: darken($accent-color, 10%);
}

button {
    @extend %button-shared;
    background-color: rgb(192, 31, 31);
}

button:hover {
    background-color: lighten(rgb(192, 31, 31), 10%);
}

a:hover {
    color: lighten($accent-color, 20%);
}

a:visited {
    color: darken($accent-color, 20%);
}

/* Responsive CSS-code */
@media (max-width: 850px) {
    .main {
        padding: 0;
    }

    #courses {
        width: 90vw;
    }

    h2 {
        text-align: center;
    }

    table {
        margin: auto;
    }

    td {
        padding-right: 15px;
    }

    form {
        display: unset;
    }

    .row {
        margin: auto;
        width: 300px;
    }
}

@media (max-width: 500px) {
    td {
        padding-right: 5px;
        font-size: 0.8em;
    }

    th {
        display: none;
    }
}